.panel-default {
  width: 700px;
  float: left;
  margin-left: 80px;
}

#searchTrainsBtn {
  float: right;
}

.search-result{
  position: absolute;
  margin-top: 34px;
}


.stationList{
  width: 190px;
  text-align: left;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
  list-style-type: none;
}

