<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Поиск рейсов</h3>
  </div>
  <div class="panel-body">
    <table id="from_to_stations">
      <tr>
        <td>
          <p class="col-lg-6" id="station_from_label">Откуда</p>
        </td>
        <td>
          <input class="span1 col-md-1 form-control" #searchDepartureStation (keyup)="search(searchDepartureStation.value)"/>
          <div>
            <div *ngFor="let station of allStations | async" search-result>
              {{station.name}}
            </div>
          </div>
        </td>
        <td>
          <p class="col-lg-6" id="station_to_label">Куда</p>
        </td>
        <td>
          <input class="span1 col-md-1 form-control" #searchArrivalStation (keyup)="search(searchArrivalStation.value)"/>
          <div>
            <div *ngFor="let station of allStations | async" search-result>
              {{station.name}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p class="col-lg-6" id="date_departure_label">Дата отправления</p>
        </td>
        <td>
          <input class="form-control" id="date_departure" type="datetime-local" name="date_departure">
        </td>
        <td>
          <p class="col-lg-6" id="date_arrival_label">Дата прибытия</p>
        </td>
        <td>
          <input class="form-control" id="date_arrival" type="datetime-local" name="date_arrival">
        </td>
      </tr>
    </table>
    <button type="button" class="btn btn-sm btn-success" id="searchTrainsBtn">
      <span class="glyphicon glyphicon-search"></span> Найти
    </button>
  </div>
</div>
<app-login></app-login>
