<div>
  <table>
    <tbody>
    <tr>
      <td>Общий</td>
      <td><a [routerLink]="['/bookTickets']"> {{freePlaces.common}}</a></td>
    </tr>
    <tr>
      <td>Плацкарт</td>
      <td><a [routerLink]="['/bookTickets']"> {{freePlaces.reservedSeat}}</a></td>
    </tr>
    <tr>
      <td>Купе</td>
      <td><a [routerLink]="['/bookTickets']"> {{freePlaces.coup}}</a></td>
    </tr>
    <tr>
      <td>Сидячие</td>
      <td><a [routerLink]="['/bookTickets']">{{freePlaces.seatPlaces}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
