<div>
  <table>
    <tbody>
    <tr>
      <td>Общий</td>
      <td><a [routerLink]="['/bookTickets', common]"> {{common.length}}</a></td>
    </tr>
    <tr>
      <td>Плацкарт</td>
      <td><a [routerLink]="['/bookTickets', reservedSeat]"> {{reservedSeat.length}}</a></td>
    </tr>
    <tr>
      <td>Купе</td>
      <td><a [routerLink]="['/bookTickets', coupe]"> {{coupe.length}}</a></td>
    </tr>
    <tr>
      <td>Сидячие</td>
      <td><a [routerLink]="['/bookTickets', seats]">{{seats.length}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
