<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Авторизация</h3>
  </div>
  <div class="panel-body" >
    <div id="authorization_form" *ngIf="user">
      <p><span class="fontawesome-user"></span><input [(ngModel)]="user.login" class="form-control"  placeholder="Логин"/></p>
      <p><span class="fontawesome-lock"></span><input [(ngModel)]="user.password" class="form-control" placeholder="Пароль"/></p>
      <table>
        <tr>
          <td><a id="showRegistrationDialog">Регистрация</a><span class="fontawesome-arrow-right"></span></td>
          <td>
            <button (click)="login(user)" class="btn btn-sm btn-success" style="margin-left: 20px" id="enter">ВОЙТИ</button>
          </td>
        </tr>
      </table>
    </div>
    <div id="logout_form" *ngIf="authorizedUser">
      <table>
        <tr>
          <td><p>Вы вошли под именем: </p></td>
          <td><p>{{authorizedUser.login}}</p></td>
        </tr>
        <tr>
          <td><a id="cabinet">Личный кабинет</a><span class="fontawesome-arrow-right"></span></td>
          <td><a (click)="logout()" id="logout">Logout</a><span class="fontawesome-arrow-right"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
