<app-login class="col-lg-1 col-centered" *ngIf="!user"></app-login>
<div class="modal-dialog" role="document" id="choosePlaces" *ngIf="user">
  <div style="width: 700px" class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h2>Выбор посадочных мест</h2>
    </div>
    <table style="width: 95%; margin: 3%">
      <tr>
        <td>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Информация о поезде</h3>
            </div>
            <div class="panel-body">
              <table>
                <tr>
                  <td>Поезд:</td>
                  <td>{{train.name}}</td>
                </tr>
                <tr>
                  <td>Маршрут:</td>
                  <td>{{departureStation}}-{{arrivalStation}}</td>
                </tr>
                <tr>
                  <td>Тип вагона:</td>
                  <td>{{carriageType}}</td>
                </tr>
                <tr>
                  <td>Время отправления:</td>
                  <td>{{departureDate}}</td>
                </tr>
                <tr>
                  <td>Время прибытия:</td>
                  <td>{{arrivalDate}}</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div style="margin-left: 20px" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Информация о пассажирах</h3>
            </div>
            <div class="panel-body">
              <table>
                <tr>
                  <td style="vertical-align:middle"><p id="last_name_label">Фамилия</p></td>
                  <td>{{user.lastName}}</td>
                </tr>
                <tr>
                  <td style="vertical-align:middle"><p id="name_label">Имя</p></td>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <td style="vertical-align:middle"><p>Взрослые</p></td>
                  <td><input style="height: 22px" class="form-control input-sm" type="number" id="adultsCount" min="1" max="2"></td>
                </tr>
                <tr>
                  <td style="vertical-align:middle"><p>Дети с местом</p></td>
                  <td><input style="height: 22px" class="form-control input-sm" id="childCount" type="number" min="0" max="3"></td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="modal-body">
      <div id="places" disabled="true">
        <table class="table table-striped" id="free_places">
          <tbody>
          </tbody>
        </table>
      </div>
      <div style="display: inline-block">
        <input class="btn btn-sm btn-success" type="button" id="continue" value="Продолжить">
      </div>
    </div>
  </div>
</div>
