<div>
  <table style="text-align: justify  " class="table table-info table-striped-own" id="trains">
    <tbody>
    <tr *ngIf="trains">
      <td>№ Поезда</td>
      <td>Направление</td>
      <td>Станция отправления</td>
      <td>Станция прибытия</td>
      <td>Время отправления</td>
      <td>Время прибытия</td>
      <td>Свободные места</td>
    </tr>
    <tr *ngFor="let train of trains">
      <td>{{train.id}}</td>
      <td>{{train.name}}</td>
      <td>{{departureStation.name}}</td>
      <td>{{arrivalStation.name}}</td>
      <td>{{getDepartureStationDate(train.schedules) | date: 'dd/MM/yyyy, HH:mm'}}</td>
      <td>{{getArrivalStationDate(train.schedules) | date: 'dd/MM/yyyy, HH:mm'}}</td>
      <td>
        <app-free-places [trainId]="train.id"
                         [departureDate]="getDepartureStationDate(train.schedules)"
                         [arrivalDate]="getArrivalStationDate(train.schedules) ">

        </app-free-places>
      </td>
    </tr>
    </tbody>
  </table>
</div>

