#buildRoute {
  width: 170px;
  height: 30px;
}

#save {
  width: 170px;
  height: 30px;
}

.form-control-sm {
  height: 25px;
  padding: 4px;
  margin: 2px;
}

.table-striped {
  text-align: left;
}

.table-sm {
  text-align: left;
  width: 450px;
}
.table-striped {
  margin-left: 10px;
}
#manageStation{
  width: 200px;
}
