<div>
  <div class="panel panel-info">
    <div class="panel-heading">Добавление поезда по маршруту</div>
    <div class="panel-body">
      <table class="table table-sm">
        <h3>Станции</h3>
        <tr>
          <td>
            <p>Название</p>
          </td>
          <td>
            <input id="nameStation" maxlength="19" pattern=".{4,19}" required title="Expected 4 to 19 chars"/>
          </td>
          <td>
            <input class="btn btn-info btn-block" type="button" value="добавить" id="addStation" disabled="true"/>
          </td>
          <td>
            <input class="btn btn-info btn-block" type="button" value="удалить" id="deleteStation" disabled="true"/>
          </td>
        </tr>
      </table>
      <table class="table table-striped">
        <h3>Даты</h3>
        <tr>
          <td>Дата отправления</td>
          <td><input type="datetime-local" id="departureDate"></td>
          <td>Дата прибытия</td>
          <td><input type="datetime-local" id="arrivalDate" disabled="true"></td>
        </tr>
      </table>
      <div>
        <div>
          <table class="table table-sm" id="carriages">
            <h3>Типы вагонов</h3>
            <tr>
              <td> Общее количесво вагонов</td>
              <td>
                <input class="form-control form-control-sm" type="number" id="countCarriages" min="10" max="30"/>
              </td>
            </tr>
            <tr>
              <td>Общий</td>
              <td>
                <input class="form-control form-control-sm" type="number" id="countCommon" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Плацкарт</td>
              <td>
                <input class="form-control form-control-sm" type="number" id="countReservedSeat" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Купе</td>
              <td>
                <input class="form-control form-control-sm" type="number" id="countCoups" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Сидячий</td>
              <td>
                <input class="form-control form-control-sm" type="number" id="countSeatPlaces" min="2" max="10"/>
              </td>
            </tr>

          </table>
        </div>
        <div>
          <table class="table table-striped" id="stations">
            <h3>Построение маршрута</h3>
            <input type="button" id="addStationToRoute" value="+">
            <tr>
              <td>Станция</td>
              <td><app-load-station></app-load-station></td>
              <td>Расстояние до следующей станции(км)</td>
              <td><input class="form-control form-control-sm" type="number" min="20" max="200"></td>
            </tr>
            <tr>
              <td>Станция</td>
              <td><app-load-station></app-load-station></td>
              <td>Расстояние до следующей станции(км)</td>
              <td><input class="form-control form-control-sm" type="number" min="20" max="200"></td>
            </tr>
            <tr>
              <td>Станция</td>
              <td><app-load-station></app-load-station></td>
              <td>Расстояние до следующей станции(км)</td>
              <td><input class="form-control form-control-sm" type="number" min="20" max="200"></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-md-2">
            <input type="button" id="buildRoute" value="Построить маршрут" class="btn btn-info btn-block">
          </div>
          <div class="col-md-2">
            <input style="right: auto" type="button" id="save" value="Сохранить" disabled="true" class="btn btn-info btn-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
