<div>
  <div class="panel panel-info">
    <div class="panel-heading">Добавление поезда по маршруту</div>
    <div class="panel-body">
      <table class="table table-striped">
        <h3>Станции</h3>
        <tr>
          <td>
            <p>Название</p>
          </td>
          <td>
            <app-load-station #manageStation></app-load-station>
          </td>
          <td>
            <input class="btn btn-info btn-block" type="button" value="Добавить" id="addStation" disabled="true"/>
          </td>
          <td>
            <input class="btn btn-info btn-block" type="button" value="Удалить" id="deleteStation" disabled="true"/>
          </td>
        </tr>
      </table>
      <table class="table table-striped">
        <h3>Даты</h3>
        <tr>
          <td>Дата отправления</td>
          <td>
            <app-date-time-input #departureDate></app-date-time-input>
          </td>
          <td>Дата прибытия</td>
          <td>
            <app-date-time-input #arrivatlDate></app-date-time-input>
          </td>
        </tr>
      </table>
      <div>
        <div>
          <table class="table table-sm" id="carriages">
            <h3>Типы вагонов</h3>
            <tr>
              <td>Общий</td>
              <td>
                <input class="form-control form-control-sm" value="{{commonCarriagesCount}}" type="number" id="countCommon" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Плацкарт</td>
              <td>
                <input class="form-control form-control-sm" value="{{reservedPlacesCarriagesCount}}" type="number" id="countReservedSeat" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Купе</td>
              <td>
                <input class="form-control form-control-sm" value="{{coupCarriagesCount}}" type="number" id="countCoups" min="2" max="10"/>
              </td>
            </tr>
            <tr>
              <td>Сидячий</td>
              <td>
                <input class="form-control form-control-sm" value="{{seatPlacesCarriagesCount}}" type="number" id="countSeatPlaces" min="2" max="10"/>
              </td>
            </tr>

          </table>
        </div>
        <div>
          <table class="table table-striped" id="stations">
            <h3>Построение маршрута</h3>
            <input (click)="addRoute()" type="button" id="addStationToRoute" value="+">
            <tr *ngFor="let route of route.keys()">
              <td>Станция</td>
              <td>
                <app-load-station #station route=[selectedStation]></app-load-station>
              </td>
              <td>Расстояние до следующей станции(км)</td>
              <td><input #distance class="form-control form-control-sm" type="number" min="20" max="200"
                         (change)="setDistance(station.selectedStation, distance.value)"></td>
              <td>
                <button (click)="removeRoute(station.selectedStation)">x</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-md-2">
            <input type="button" id="buildRoute" value="Построить маршрут" class="btn btn-info btn-block">
          </div>
          <div class="col-md-2">
            <input style="right: auto" type="button" id="save" value="Сохранить" disabled="true" class="btn btn-info btn-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
